
/* navbar */
.navbar-collapse {
    text-align: center;
}

/* hero img */
.all-container {
    background-size: cover;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
}

.hero {
    background: url(https://res.cloudinary.com/dafz5mtkx/image/upload/v1681543944/Classic-Garage-Images/pexels-kelly-2519372_celrzg.jpg) no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.hero-about {
    background: url(https://res.cloudinary.com/dafz5mtkx/image/upload/v1681567923/Classic-Garage-Images/harley-davidson-rEPAjhzt7TY-unsplash_suauvy.jpg) no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.hero-success {
    background: url(https://res.cloudinary.com/dafz5mtkx/image/upload/v1681818235/Classic-Garage-Images/petr-magera-dFB979zsQ0A-unsplash_ac4j54.jpg) no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.jumbo {
    max-width: 36rem;
    background-color: transparent;
    margin-bottom: 4rem;
}

.hero-p {
    font-size: 1.2em;
    line-height: 1.1;
}

/* get in touch section */

.info-container {
    font-size: 1.2em;
    text-align: center;
}

.little-moto {
    font-size: 2em;
}