{% extends 'base.html' %}

{% block content %}

<!-- My bookings Page -->
<div class="jumbotron jumbotron-fluid info-container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Your Bookings</h1>
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
        </div>
    </div>
    <br>
    <!-- if the user has no bookings -->
    {% if not bookings %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>You have not booked any services yet.</p>
                <a href="{% url 'book_service' %}" role="button"><button class="btn btn-lg btn-success">Book a
                        Service</button></a>
            </div>
        </div>
    </div>
    <!-- display users bookings -->
    {% else %}
    <div class="container pt-3">
        {% for booking in bookings %}
        <div class="card-row">
            <div class="card">
                <div class="card-body bg-light">

                    <!-- if admin approves the booking -->
                    {% if booking.status == 1 %}
                    <h3 class="card-title">Approved
                    </h3>
                    {% else %}
                    <!-- if not this is a message -->
                    <h3 class="card-title">Pending
                    </h3>
                    {% endif %}

                    <hr>
                    <p>Name:
                        <strong>{{ booking.name }}</strong>
                    </p>
                    <p>Requested Date:
                        <strong>{{ booking.created_on }}</strong>
                    </p>
                    <p>Service Type:
                        <strong>{{ booking.service_type }}</strong>
                    </p>
                    <p>Message:
                        <strong>{{ booking.message }}</strong>
                    </p>


                    <!-- user can update or delete bookings -->
                    {% if booking.status == 0 %}
                    <a href="{% url 'update_bookings' pk=booking.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'delete_bookings' pk=booking.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}