{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid info-container">
    <div class="container">
        <h1>Our Services</h1>
        <p>We provide a wide range of services to keep your motorcycle running smoothly. From oil
            changes and tune-ups to tire replacements and engine repairs, we are here to keep your bike running like
            new. We also offer custom parts and modifications to give your ride a unique look. With our knowledgeable
            staff and quality parts, we guarantee satisfaction with every service.</p>
        <a class="btn btn-lg btn-secondary mt-3" role="button" href="{% url 'book_service' %}">Book a Service</a>
    </div>
</div>
<div class="card-columns">
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681567234/Classic-Garage-Images/pexels-rachel-claire-4857722_hvhkna.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Electrical Systems</h4>
            <p class="card-text">We specialize in electrical system repairs and troubleshooting, from basic wiring to
                complex electronic systems. Our experienced technicians have the knowledge and tools needed to diagnose
                any electrical issue and get you back on the road quickly.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681569961/Classic-Garage-Images/pexels-rachel-claire-4577733_dkbok7.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Engine and Transmission System</h4>
            <p class="card-text">Our experienced technicians are equipped with the latest diagnostic tools to diagnose
                and repair any engine or transmission issue. We use quality parts and offer competitive prices to ensure
                that your motorcycle is running at peak performance.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681567241/Classic-Garage-Images/pexels-rachel-claire-4825749_lx2ufd.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Steering System</h4>
            <p class="card-text">From basic tune-ups to complex repairs, our technicians have the knowledge and
                experience necessary to keep your bike running smoothly. We use quality parts and offer competitive
                prices to ensure satisfaction with every service.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681569977/Classic-Garage-Images/pexels-rachel-claire-4577448_gfkoni.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Breaking System</h4>
            <p class="card-text">our experienced technicians are equipped with the proper tools and knowledge to
                diagnose and repair any braking system issue. Whether you need new brake pads, rotors, or calipers, we
                have the parts and expertise to get the job done right.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681570248/Classic-Garage-Images/pexels-gijs-coolen-2549941_utgxdd.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Tyre check or replace</h4>
            <p class="card-text">We offer a complete tyre check and replacement service. Our technicians will inspect
                your tyres for wear and tear and replace them with quality, long-lasting tyres. We guarantee
                satisfaction with every service.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top"
                src="https://res.cloudinary.com/dafz5mtkx/image/upload/v1681570186/Classic-Garage-Images/dan-burton-dvM7a-dIXFc-unsplash_ivufrk.jpg"
                alt="Card image" style="width:60%">
            <h4 class="card-title">Custom Projects</h4>
            <p class="card-text">We work closely with our
                customers to create a customized look that reflects their individual style. From one-of-a-kind paint
                jobs to custom parts and modifications, we have the knowledge and experience to make your motorcycle
                dreams a reality.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>

{% endblock %}